.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
lib/sdl2/bin/sdl2-config
lib/sdl2/bin/SDL2.dll
lib/sdl2/include/SDL2/begin_code.h
lib/sdl2/include/SDL2/close_code.h
lib/sdl2/include/SDL2/SDL_assert.h
lib/sdl2/include/SDL2/SDL_atomic.h
lib/sdl2/include/SDL2/SDL_audio.h
lib/sdl2/include/SDL2/SDL_bits.h
lib/sdl2/include/SDL2/SDL_blendmode.h
lib/sdl2/include/SDL2/SDL_clipboard.h
lib/sdl2/include/SDL2/SDL_config_android.h
lib/sdl2/include/SDL2/SDL_config_emscripten.h
lib/sdl2/include/SDL2/SDL_config_iphoneos.h
lib/sdl2/include/SDL2/SDL_config_macosx.h
lib/sdl2/include/SDL2/SDL_config_minimal.h
lib/sdl2/include/SDL2/SDL_config_ngage.h
lib/sdl2/include/SDL2/SDL_config_os2.h
lib/sdl2/include/SDL2/SDL_config_pandora.h
lib/sdl2/include/SDL2/SDL_config_windows.h
lib/sdl2/include/SDL2/SDL_config_wingdk.h
lib/sdl2/include/SDL2/SDL_config_winrt.h
lib/sdl2/include/SDL2/SDL_config_xbox.h
lib/sdl2/include/SDL2/SDL_config.h
lib/sdl2/include/SDL2/SDL_cpuinfo.h
lib/sdl2/include/SDL2/SDL_egl.h
lib/sdl2/include/SDL2/SDL_endian.h
lib/sdl2/include/SDL2/SDL_error.h
lib/sdl2/include/SDL2/SDL_events.h
lib/sdl2/include/SDL2/SDL_filesystem.h
lib/sdl2/include/SDL2/SDL_gamecontroller.h
lib/sdl2/include/SDL2/SDL_gesture.h
lib/sdl2/include/SDL2/SDL_guid.h
lib/sdl2/include/SDL2/SDL_haptic.h
lib/sdl2/include/SDL2/SDL_hidapi.h
lib/sdl2/include/SDL2/SDL_hints.h
lib/sdl2/include/SDL2/SDL_joystick.h
lib/sdl2/include/SDL2/SDL_keyboard.h
lib/sdl2/include/SDL2/SDL_keycode.h
lib/sdl2/include/SDL2/SDL_loadso.h
lib/sdl2/include/SDL2/SDL_locale.h
lib/sdl2/include/SDL2/SDL_log.h
lib/sdl2/include/SDL2/SDL_main.h
lib/sdl2/include/SDL2/SDL_messagebox.h
lib/sdl2/include/SDL2/SDL_metal.h
lib/sdl2/include/SDL2/SDL_misc.h
lib/sdl2/include/SDL2/SDL_mouse.h
lib/sdl2/include/SDL2/SDL_mutex.h
lib/sdl2/include/SDL2/SDL_name.h
lib/sdl2/include/SDL2/SDL_opengl_glext.h
lib/sdl2/include/SDL2/SDL_opengl.h
lib/sdl2/include/SDL2/SDL_opengles.h
lib/sdl2/include/SDL2/SDL_opengles2_gl2.h
lib/sdl2/include/SDL2/SDL_opengles2_gl2ext.h
lib/sdl2/include/SDL2/SDL_opengles2_gl2platform.h
lib/sdl2/include/SDL2/SDL_opengles2_khrplatform.h
lib/sdl2/include/SDL2/SDL_opengles2.h
lib/sdl2/include/SDL2/SDL_pixels.h
lib/sdl2/include/SDL2/SDL_platform.h
lib/sdl2/include/SDL2/SDL_power.h
lib/sdl2/include/SDL2/SDL_quit.h
lib/sdl2/include/SDL2/SDL_rect.h
lib/sdl2/include/SDL2/SDL_render.h
lib/sdl2/include/SDL2/SDL_revision.h
lib/sdl2/include/SDL2/SDL_rwops.h
lib/sdl2/include/SDL2/SDL_scancode.h
lib/sdl2/include/SDL2/SDL_sensor.h
lib/sdl2/include/SDL2/SDL_shape.h
lib/sdl2/include/SDL2/SDL_stdinc.h
lib/sdl2/include/SDL2/SDL_surface.h
lib/sdl2/include/SDL2/SDL_system.h
lib/sdl2/include/SDL2/SDL_syswm.h
lib/sdl2/include/SDL2/SDL_test_assert.h
lib/sdl2/include/SDL2/SDL_test_common.h
lib/sdl2/include/SDL2/SDL_test_compare.h
lib/sdl2/include/SDL2/SDL_test_crc32.h
lib/sdl2/include/SDL2/SDL_test_font.h
lib/sdl2/include/SDL2/SDL_test_fuzzer.h
lib/sdl2/include/SDL2/SDL_test_harness.h
lib/sdl2/include/SDL2/SDL_test_images.h
lib/sdl2/include/SDL2/SDL_test_log.h
lib/sdl2/include/SDL2/SDL_test_md5.h
lib/sdl2/include/SDL2/SDL_test_memory.h
lib/sdl2/include/SDL2/SDL_test_random.h
lib/sdl2/include/SDL2/SDL_test.h
lib/sdl2/include/SDL2/SDL_thread.h
lib/sdl2/include/SDL2/SDL_timer.h
lib/sdl2/include/SDL2/SDL_touch.h
lib/sdl2/include/SDL2/SDL_types.h
lib/sdl2/include/SDL2/SDL_version.h
lib/sdl2/include/SDL2/SDL_video.h
lib/sdl2/include/SDL2/SDL_vulkan.h
lib/sdl2/include/SDL2/SDL.h
lib/sdl2/lib/libSDL2_test.a
lib/sdl2/lib/libSDL2_test.la
lib/sdl2/lib/libSDL2.a
lib/sdl2/lib/libSDL2.dll.a
lib/sdl2/lib/libSDL2.la
lib/sdl2/lib/libSDL2main.a
lib/sdl2/lib/libSDL2main.la
lib/sdl2/lib/cmake/SDL2/sdl2-config-version.cmake
lib/sdl2/lib/cmake/SDL2/sdl2-config.cmake
lib/sdl2/lib/pkgconfig/sdl2.pc
lib/sdl2/share/aclocal/sdl2.m4
